body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}
.logo {
    max-width: 200px;
    height: auto;
}
