
body {
    background-color: white; 
    color: black; 
    position: relative; 
}
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: LightSteelBlue;
}
input[type="text"],
input[type="password"],
input[type="submit"],
a {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
/* Estilos para el enlace "Soy Postulante" */
.soy-postulante {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #3AA0DD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    max-width: 150px; 
    text-align: center; 
}

header {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;  
    gap: 300px;
}

nav {
    background-color: #ffffffad;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
}

nav a {
    color: #004aad;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
}


nav .nav-links a:hover {
    text-decoration: underline;
}

.nav-item {
    position: relative;
    display: inline-flex; 
    align-items: center;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
}
/* Estilos para el mensaje de error */
.mensaje-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}