header {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 250px;
    height: auto;
}

.navbar-nav .nav-link {
    color: #343a40;
    font-size: 1rem;
    padding: 10px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
}

.empresas {
    background-color: #f8f9fa;
    padding: 40px 0;
}

/* Estilo de los títulos */
.empresas h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Estilos para los logotipos de las empresas */
.empresa-logo {
    max-width: 100%;
    height: auto;
    margin: 10px 0; /* Espaciado entre logotipos */
    transition: transform 0.3s ease-in-out; /* Efecto hover */
}

.empresa-logo:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
}

/* Estilo de las descripciones */
.empresa-descripcion {
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
    font-style: italic;
}

/* Alineación y estilo de las tarjetas de empresa */
.empresa-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar las tarjetas */
    padding: 15px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.empresa-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

/* mediaq */
@media (max-width: 768px) {
    .empresa-logo {
        width: 80%; /* Ajusta el tamaño del logo en pantallas pequeñas */
    }

    .empresas h2 {
        font-size: 2rem;
    }
}
.candidato-foto {
    width: 290px; 
    height: 250px; 
    margin-bottom: 1rem; 
}

.footer {
    background-color: hwb(208 85% 0% / 0.541);
    padding: 40px 0;
    color: #6c757d;
    text-align: left;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-logo img {
    height: auto;
    width: auto;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #212529;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
}

.social-media a {
    margin-right: 15px;
    color: #6c757d;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
}


