.titulo{
    display: flex;
}
.vacante {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s; /* Agregar transición */
}

.vacante:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra al pasar el mouse */
}

.vacante.activa {
    background-color: #ebefff; /* Verde suave */
    border-color: #c3e6cb;
}

.vacante.finalizada {
    background-color: #f8d7da; /* Rojo suave */
    border-color: #f5c6cb;
}

#imagen-empresa {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#perfil-empresa {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#datos-empresa {
    margin-left: 20px;
}

nav {
    background-color: #ffffffad; /* Fondo semi-transparente */
    padding: 10px;
    text-align: center;
    position: relative;
}

nav a {
    color: #004aad;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

nav a:hover {
    background-color: rgba(0, 74, 173, 0.1); /* Fondo suave al pasar el mouse */
    color: #003366; /* Cambio de color */
    text-decoration: none; /* Eliminar subrayado en hover */
}
.btn-publicar-vacante {
    background-color: #004aad; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.btn-publicar-vacante:hover {
    background-color: #003388; 
}
