body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #ffffffad;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
}

nav a {
    color: #004aad;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
}


nav .nav-links a:hover {
    text-decoration: underline;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    color: #0056b3;
    text-align: center;
}

.form-section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
}

.form-section h2 {
    font-size: 1.5em;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-item {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    transition: background-color 0.3s ease;
    background-color: #0056b3;
    color: #ccc;
}

button:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #1a1b63;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #1f5177;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #2394c8;
}

.educacion-item, .experiencia-item, .idioma-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.educacion-item hr, .experiencia-item hr, .idioma-item hr {
    margin: 15px 0;
}
