body {
background-color: #fff;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
.main-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Ajustar la altura al 100% del viewport */
}
.form-container {
position: relative;
z-index: 1; 
padding: 20px;
border-radius: 8px;
background-color: #B1D3FF;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-right: -20px; 
}
form {
width: 350px; /* Ancho del formulario */
}
input[type="text"],
input[type="password"],
input[type="submit"] {
width: 100%;
padding: 10px;
margin: 10px 0;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}
input[type="submit"] {
background-color: #1c75bc;
color: #fff;
font-weight: bold;
border: none;
cursor: pointer;
transition: background-color 0.3s;
}
input[type="submit"]:hover {
background-color: #155e93;
}
/* Estilos para la imagen postulante */
.imagen {
position: relative;
z-index: 0; /* Colocar la imagen por debajo del formulario */
max-width: 275px; 
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-left: 30px; 
}
/* Estilos para el botón "Soy una empresa" */
.btn-soy-empresa {
position: absolute;
top: 20px;
right: 20px;
padding: 10px 15px;
background-color: #3AA0DD;
color: #fff;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s;
z-index: 1; 
}
.btn-soy-empresa:hover {
background-color: #0056b3;
}

/* Estilos adicionales personalizados */
#perfil-empresa {
display: flex;
align-items: flex-start;
margin-bottom: 20px;
}

#imagen-empresa {
width: 150px; 
height: auto;
}

#datos-empresa {
margin-left: 20px;
}

#nombre-empresa {
font-size: 40px;
font-weight: bold;
margin-bottom: 10px;
}

#descripcion-empresa {
font-size: 18px;
margin-top: 0;
}

.vacante {
margin-bottom: 20px;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5px;
}

.btn-publicar-vacante {
background-color: #007bff;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.btn-publicar-vacante:hover {
background-color: #0056b3;
}

.btn-modificar, .btn-eliminar {
margin-right: 10px;
}

.vacante .row {
margin-bottom: 10px;
}
header {
    display: flex;
    align-items: center; 
    padding: 1rem; 
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.logo {
    max-height: 50px;
    width: 20;
}

.navbar {
    flex-grow: 1; /* Permite que la navbar ocupe espacio disponible */
}

.navbar-nav {
    display: flex; 
    justify-content: center; 
    margin: 0; 
    padding: 0;
    list-style: none; 
}

.nav-item {
    margin: 0 20px; 
}

.nav-link {
    padding: 10px 15px; 
    color: #007bff; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.nav-link:hover {
    background-color: #f8f9fa; 
    border-radius: 5px; 
}

.btn-soy-empresa {
    margin-left: auto; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.btn-soy-empresa:hover {
    background-color: #0056b3; 
}
/* Estilos para el mensaje de error */
.mensaje-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}